
AddDefaultCharset UTF-8
Options -Indexes
RewriteEngine on

RewriteBase /mv/tracker/

RewriteRule ^(config|core|models|plugins|views|log|customs)\/.* index.php [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* index.php [L]